/*************Video data************/
.fillterData {
	padding:20px 10px;	
}
.selectived {
	float:left;	
	padding:0 10px;
	display:none;
}
.advanceSearch {
	float:left;	
	padding:0 10px;
}
.col2p {
	padding:0 10px;
	float:right;	
}
.col2p .btn {
	width:100%;	
	float:right;
}
.col10p {
	width:24%;
	padding:0 10px;
	float:left;	
	position:relative;
}
.btnSearchData {
	position:absolute;
	top:0;
	right:0;	
	background-color:#3ea9f5;
	color:#ffffff;
	right:10px;
	border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	-border-radius: 2px 2px 0 0;
}
.btnSearchData i {
	margin-right:0;	
}
.fillterADS {
	height:55px;
	padding:0 10px;
	height:0;
	overflow:hidden;
}
.col20p {
	width:20%;
	float:left;
	padding: 0 10px;	
}
@media (max-width:1201px) {
	.hiddenMD {
		display:none;	
	}
	ul.listNof.viewAll .btnAction i {
		margin-right:5px;
	}
	.fixWidthMD {
		width:136px;	
	}
	.col10p {
		width:25%;
	}
}
.tableDataVideo {
	padding:0 20px;	
}
.CSSTableGenerator td.text-center {
	text-align:center;	
}
.imgDataVideo {
	margin:0 auto;	
	position:relative;
	width:96px;
	height:54px;
}
.imgDataVideo img {
	width:96px;
	height:54px;	
}
.titleDataVideo {
	max-width: 100%;
	display: inline-block;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.durationDV {
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	bottom:3px;
	right:3px;	
	color:#ffffff;
	font-size:10px;
	display:block;
	padding:3px;
}
.btnEditThumb {
	display:none;
	position:absolute;
	bottom:3px;
	right:3px;
	color:#ffffff;
	background-color:rgba(0,0,0,0.3);
	padding:3px 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
}
.btnEditThumb:hover {
	background-color:#3ea9f5;	
}
.imgDataVideo:hover .btnEditThumb {
	display:block;
}
.titleDataVideo:hover {
	text-decoration:underline;	
}
.idDataVideo {
	color:#999999;
	font-size:12px;	
}
.statusDataAlert, .statusDataProcess, .statusDataSuccess, .statusDataPending, .statusDataNoAction {
	font-size:18px;
	cursor:default;
	padding:7px 12px;
	display:inline-block;
	
}
.statusDataProcess, .statusDataAlert {
	color:#c72c1b;	
}
.statusDataSuccess {
	color:#78CD51;
}
.statusDataPending {
	color:#F3BB35;
}
.statusDataNoAction {
	color:#383D43;
}
/*******update status 3/6/2015*******/
.fa.fa-ellipsis-h {
	font-size:20px;	
}

.statusV i {
	margin-right:3px;	
}
.statusQC {
	margin-left:20px;	
}

.btnAction {
	float:left;
	margin-right:3px;
	font-size:13px;	
}
.dropdownList {
	right:0;
	left:auto;	
}
.dropdownList:before, .dropdownList:after {
	position: absolute;
	display: inline-block;
	border-bottom: 10px solid #ffffff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	content: '';
}
.dropdownList:before {
	border-bottom-color: #dddddd;
	right: 25px;
	top: -10px;
}

.dropdownList:after {
	right: 25px;
	top: -9px;
}
ul.moreMenuList {
	padding:10px 0;
}
ul.moreMenuList li a {
	display:block;
	padding:5px 15px;	
	color:#454545;
	font-size:13px;
	text-align:left;
}
ul.moreMenuList li a:hover {
	background-color:#3ea9f5;
	color:#ffffff;	
}

.tableDataVideo .btn {
	margin-top:5px;
}
.btnLiveURL, .btnCopy, .btnSetting {
	color:#ffffff;	
	font-size:13px;
}
.btnLiveURL:hover, .btnCopy:hover, .btnSetting:hover {
	background-color:#3ea9f5;
}
.timeUpload {
	display:block;
	font-size:12px;
	color:#999999;	
}
.CSSTableGenerator {
	margin:0 0 20px 0;padding:0px;
	width:100%;
	border:1px solid #e5e5e5;
}
.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	min-width:836px;
	height:100%;
	margin:0px;
	padding:0px;
}
.btnEmbedGrid {
	display:none;
	position:absolute;
	bottom:10px;
	right:10px;	
}
.CSSTableGenerator tr:hover .btnEmbedGrid {
	display:block;	
}
.CSSTableGenerator td.hasBtn {
	position:relative;	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f7f7f7; }
.CSSTableGenerator tr:nth-child(even){ background-color:#ffffff; }
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #e5e5e5;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:13px;
	font-weight:300;
	color:#454545;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background-color:#eeeeee;
	border:0px solid #e5e5e5;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-weight:500;
	color:#454545;
}
.CSSTableGenerator tr:first-child:hover td{
	background-color:#eeeeee;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.paginationData {
	padding:0 20px 20px;	
}
.paginationDataTop {
	padding:3px 10px 0 0;	
	float:right;
}
.paginationData p {
	float:right;	
}
ul.pagination {
	float:right;
	margin-left:10px;	
}
ul.pagination li {
	float:left;	
}
ul.pagination li a {
	padding:5px 10px;
	background-color:#ededed;
	display:block;	
	margin-left:5px;
	color:#454545;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
ul.pagination li a.active, ul.pagination li a:hover {
	color:#ffffff;
	background-color:#3ea9f5;	
}
a.disabled {
	color:#bebebe !important;
	background-color:#ededed !important;
	cursor:not-allowed;
}
/*******Popup approve******/
.popupContentApprove {
	margin:-20px -20px 0;
	padding: 0 20px;
	border-bottom:1px solid #eeeeee;
}
.popupContentInfo {
	margin-top:20px;
}
.popupPlayer {
	width: 442px;
	height: 278px;	
	background-color:#454545;
}
.popupInfoVideo {
	margin-bottom:20px;	
}
.popupInfoVideo h2 {
	margin:15px 0 10px 0;	
}
.popupLink {
	color:#454545;	
}
.popupLink:hover {
	color:#3ea9f5;	
}
.approveYes, .approveNo {
	float:left;
}
.approveYes {
	padding:12px 20px 20px 0;
	width:45%;	
	border-right:1px solid #eeeeee;	
}
.approveNo {
	width:55%;	
	padding:20px 0 20px 20px;
}
.btnYes {
	width:100%;	
	background-color:#78cd51;
	color:#ffffff;
	font-weight:500;
	margin-top:4px;
}
.btnYes:hover {
	background-color:#86e15d;	
}
.btnDenied {
	font-weight:500;
	width:100%;	
	background-color:#e9a511;
	color:#ffffff;
	margin-top:10px;
}
.btnDenied:hover{
	background-color:#feb922;	
}
/*******Popup Thumbnail******/
ul.tabsThumb {
	height:40px;
	border-bottom:1px solid #eeeeee;
	margin:0 -20px;
	padding:0 20px;	
}
ul.tabsThumb li {
	float:left;	
}
ul.tabsThumb li a {
	height:40px;
	line-height:40px;
	display:block;
	color:#999999;	
	margin-right:20px;
	white-space:nowrap;
}
ul.tabsThumb li.current a {
	border-bottom:2px solid #3ea9f5;
	color:#454545;
}
.tabsContentThumb {
	margin-top:20px;	
}
.thumbImage {
	display:none;
	overflow:hidden;
}
.thumbImage.current {
	display:block;	
}
ul.listThumbConvert {
	width:654px;
	margin-bottom:10px;
}
ul.listThumbConvert li {
	float:left;
	margin:0 10px 10px 0;	
}
ul.listThumbConvert li a {
	border:1px solid #eeeeee;
	display:block;	
	padding:5px;
	-webkit-transition: border-color ease-in-out 0.3s;
    transition: border-color ease-in-out 0.3s;
}
ul.listThumbConvert li a.selected {
	border:1px solid #3ea9f5;	
}
ul.listThumbConvert li a:hover {
	border-color: #999999;	
}
ul.listThumbConvert li a img {
	display:block;	
	width:186px;
	height:104px;
}
.thumbFooter button {
	padding:0 20px;	
}
.pickImage .note {
	line-height:34px;	
}
.cropImage {
	margin:20px 0;
	position:relative;	
	padding-right: 144px;
}
.cropImageLeft {
	float:left;	
	width:100%;
}
.cropImageRight {
	width:128px;
	position:absolute;
	top:0;
	right:0;	
}
.btnZoom i {
	margin-right:0;	
}
/************************************
			Form upload
************************************/
.rowForm {
	padding:15px 20px;
}
.uploadGroup {
	text-align:center;
	padding:15px 20px;
	background-color:#fafbfb;
	line-height:78px;
	height:108px;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;	
}
.uploadFile, .uploadLink {
	float:left;	
	padding: 10px;
	width:47%;
	line-height:20px;
	height:78px;
}
.uploadFile {
	border:1px dashed #3ea9f5;
	cursor:pointer;
}
.uploadFile:hover svg {
	fill:#3ea9f5;
}
.wrapperButtonFile {
	margin:8px auto;
	width:217px;	
}
.uploadFile button {
	float:left;
	background:none;
	border:none;
	padding:0;
	margin-right:10px;
}
.uploadFile button svg {
	fill:#dde3e7;	
}
.uploadFile h3, .uploadFile p {
	text-align:left;
	margin:0;	
}
.uploadLink {
	border:1px dashed #e6bc4b;
	float:right;
}
.uploadLink p {
	color:#999;
	font-size:12px;
	margin-top:0	
}
.wrapperInputUpload {
	position:relative;
	background-color:#f4f0e4;
	padding:5px 64px 5px 10px;	
	overflow:hidden;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;	
}
.inputLinkUpload {
	background:none;
	border:none;
	color:#aa8b39;
	text-align:left;
	width:100%;	
}
.inputLinkUpload:focus {
	border:none;
	outline: 0;
	-webkit-box-shadow: inset 0  rgba(0,0,0,.075), 0 rgba(25, 129, 203, 0.6);
	box-shadow: inset 0 rgba(0,0,0,.075), 0 rgba(25, 129, 203, 0.6);
}
.inputLinkUpload::-moz-placeholder {
	color: #aa8b39;
	opacity: 1;
	font-weight:500;
}
.inputLinkUpload:-ms-input-placeholder {
	color: #aa8b39;
	font-weight:500;
}
.inputLinkUpload::-webkit-input-placeholder {
	color: #aa8b39;
	font-weight:500;
}
.uploadLink button {
	position:absolute;
	top:0;
	right:0;
	background-color:#e6bc4b;
	border:none;
	color:#ffffff;
	font-weight:500;
	padding:5px 10px;	
}
.statusProcessBar {
	line-height:20px;	
}
.idVideoUploading {
	float:left;	
	line-height:32px;
}
.idVideoUploading span {
	background-color:#e1f1fc;	
	display:inline-block;
	padding:0 5px;
	line-height:20px;
	color:#2276b1;
	font-weight:500;
}
.nameFileUploading {
	float:right;	
	line-height:32px;
	max-width:780px;
}
.nameFileUploading img {
	float:left;	
	margin-right:5px;
}
.formUpload {
	margin:5px -10px;	
}
.btnUploadFile {
	float:left;
	margin-right:10px;
	position:relative;
}
div.btnUploadFile input {
    display: block !important;
    width: 145px !important;
    height: 34px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	top:0;
	left:0;
	position:absolute;
	cursor:pointer;
}
.btnLinkVideo {
	float:left;
}
.enterLinkVideo {
	display:none;
	float: left;
    margin-left: 10px;
    position: relative;
    width: 250px;	
}
.enterLinkVideo input {
	padding-right:72px;	
}
.enterLinkVideo button {
	position:absolute;
	top:0;
	right:0;	
}
.btnsUpload {
	height:34px;
	line-height:34px;	
}
.nameFile {
	float:right;
	position:relative;
	padding-left:38px;
	color:#999999;
	font-size:13px;	
}
.preloader {
	position:absolute;
	top:0;
	left:0;	
}
.processUpload {
	margin-top:10px;
	height:34px;
	position:relative;
	background-color:#eeeeee;
}
.processStatus {
	background:#78cd51;
	height:34px;
	line-height:34px;
	-webkit-transition: width ease-in-out .3s;
	transition: width ease-in-out .3s;
}
.processStatusTxt {
	position:absolute;
	left:15px;
	top:7px;	
	color:#1d5404;
	font-weight:500;
	line-height:20px;
}
.btnCancelUpload {
	position:absolute;
	top:-2px;
	right:0;	
	color:#999999;
	padding:7px 10px;
}
.btnCancelUpload:hover {
	color:#3ea9f5;	
}
.actionForm {
	padding:20px;
	margin:0 -20px;	
	border-top:1px solid #eeeeee;
}
.actionForm.fixAction {
	margin:0 -20px -20px;	
}
.tabsContentGlobal .actionForm {
	margin:0;	
}
.actionForm button {
	margin-right:10px;
	text-transform:uppercase;	
}
.col50p, .col40p, .col60p {
	float:left;
	padding:0 10px;	
}
.col40p {
	width:40%;	
}
.col50p {
	width:50%;
}
.col60p {
	width:60%;	
}
.col100p {
	width:100%;	
	padding:0 10px;
}
.thumbUpload img {
	float:left;	
	margin-right:15px;
}
.thumbUpload .btnUploadFile {
	float:none;	
}
.headUpload2nd {
	height:50px;
	background-color:#eeeeee;
	text-align:center;	
	line-height:50px;
}
.contentUpload2nd {
	padding:20px;
	border:1px solid #eeeeee;
	height:250px;	
	background-color: #fafbfb;
}
.requireU2nd {
	font-weight:500;
	color:#e64b3a;	
}
.contentUpload2nd .btnUploadFile, .contentUpload2nd .btnLinkVideo {
	margin:15px auto;
	display:block;
	float:none;
	width:170px;
}
.contentUpload2nd p {
	text-align:center;
	color:#999999;
}
.contentUpload2nd .enterLinkVideo {
	width: 416px;
	margin-top: 18px;
}
.linkU2nd {
	position:relative;	
	margin-top:15px;
}
.linkU2nd .formGlobal {
	padding-right: 70px;	
	border:1px solid #eeb221;
}
.linkU2nd .btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color:#eeb221;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
}
.headUpload2nd .processStatus {
	height:50px;
	line-height:50px;	
}
.headUpload2nd .processStatusTxt {
	top:0;	
}
.contentUpload2nd .nameFile {
	float: none;
	padding-left: 0;
	text-align: center;
	margin-top:30px;
}
.contentUpload2nd .preloader {
	position: static;
	width: 32px;
	margin: 15px auto;
}
.contentUpload2nd .btnDefault {
  margin: 0 auto;
  width: 99px;
  border:1px solid #dddddd;
  display: block;
}
.infoLinkUpload img {
	display:block;
	float:left;
	margin-right:15px;
	width:96px;
	height:54px;	
}
.infoLinkUpload h4, .infoLinkUpload p {
	margin:0;	
}
.infoLinkUpload p {
	color:#999999;	
}
ul.listVideoUpload {
	margin: 20px -20px 0 -20px;	
}
ul.listVideoUpload li {
	border-top: 1px solid #eeeeee;	
}
ul.listVideoUpload li div {
	float:left;	
	padding:10px 20px;
	text-align:left;
}
.qualityLvu, .typeLvu, .sizeLvu, .viewLvu {
	border-right:1px solid #eeeeee;	
}
div.sizeLvu {
	text-align:right;	
}
.qualityLvu {
	width:117px;	
}
.typeLvu {
	width:130px;	
}
.sizeLvu {
	width:134px;	
}
.viewLvu {
	width:90px;	
}
.uploadLvu {
	width:85px;	
}
.uploadLvu a {
	font-weight:500;	
}

/*********Advance Upload*********/
.btnAddTo {
	text-align:left;
	width:160px;
}
.dropdownPlaylist {
	max-width:400px;	
}
.wPlaylists {
	padding:20px;	
}
.notificationAddPL {
	width:100%;	
	margin:0;
	padding:10px;
	text-align:center;
	font-size:12px;
}
.notificationAddPL.success {
	border:1px solid #d6e9c6;
	color: #3c763d;
	background-color: #dff0d8;
}
.notificationAddPL.error {
	color: #a94442;
	background-color: #f2dede;
	border:1px solid #ebccd1;
}
ul.playlists {
	margin:10px 0 0;	
	height:250px;
	width:350px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}
ul.playlists li {
	background-color:#fafbfb;
}
ul.playlists li a {
	padding:10px;	
	background-color:#fafbfb;
	display:block;
	color:#999999;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:350px;
}
ul.playlists li a i {
	margin-right:5px;
	color:#999999;
}
ul.playlists li a:hover {
	color:#3ea9f5;	
}
ul.playlists li a.rowGrey {
	background-color:#f5f5f5;	
}
ul.playlists li.addSuccess a i {
	color:#5cb85c;	
}
ul.playlists li.addSuccess a {
	color:#5cb85c;	
}
.createList {
	padding:0 20px 20px;
	position:relative;	
}
.createList input {
	padding-right:40px;	
}
.createList button {
	height: 34px;
    position: absolute;
    right: 20px;
    top: 25px;
    width: 34px;
}
.createList button i {
	margin:0;	
}
.inputLink {
	position:relative;
}
.icoLink {
	position:absolute;
	right: 10px;
    top: 7px;
	color:#999999;
}
.note {
	color:#999999;
	font-size:13px;	
}
.checkbox label {
	line-height:20px;
	cursor:pointer;	
}
/**********search suggest***********/
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.searchSuggest {
	padding:20px;
	border:1px solid #eeeeee;	
}

.searchRelate {
	position:relative;
	margin-bottom:10px;	
}
.headRelateVD {
	padding:0 10px 10px;	
}
.headRelateVD h3 {
	float:left;	
}
.searchRelate .fa-search {
	position:absolute;
	top:10px;
	left:10px;
	color:#999999;	
}
.searchRelate input {
	padding-left:30px;
	padding-right:30px;	
}
.wSearchSuggest {
	position:absolute;
	width:100%;	
	z-index:9;
	padding:0;
	top:40px !important;
	background-color:#F2F2F2;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.2);
	-webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.2);
}
.wPlaylists .slimScrollDiv, .searchSuggest .slimScrollDiv, .searchSuggestEdit .slimScrollDiv  {
	padding-right:0;	
}
ul.ui-menu {
	height:300px;
	background-color:#fafbfb;
	border:1px solid #dddddd;
	margin-top: 10px;
    overflow-y: auto;
	overflow-x:hidden;
    padding-top: 5px;
	-webkit-overflow-scrolling:touch;
}
.ui-widget {
	font-family: 'roboto';
}
ul.ui-menu li.ui-menu-item {
	padding:10px;	
	border:none;
	border-bottom:1px solid #eeeeee;
	height:75px;
	font-weight:500;
	font-size:14px;
}
ul.ui-menu li.ui-menu-item .uploaderSuggest {
	font-weight:300;
	color: #999999;	
}
ul.ui-menu li.ui-menu-item.ui-state-focus {
	border:none;
	border-bottom:1px solid #eeeeee;	
}
.ui-menu .ui-state-focus,.ui-menu .ui-state-active {
	margin:0;
}
ul.ui-menu li:hover {
	background-color:#ffffff;	
}
ul.ui-menu li a.titleSuggest {
	display:block;
	color:#454545;
}
ul.ui-menu li a.uploaderSuggest {
	display:block;
	color:#999999;
}
ul.ui-menu li img {
	width:96px;
	height:54px;
	float:left;
	margin-right:10px;
}
.ui-helper-hidden-accessible {
	display:none;	
}
.btnDelRelate {
	position:absolute;
	top:0;
	right:0;
	color:#999999;
}
.btnDelRelate:hover {
	color:#454545;	
}
.searchSuggestEdit {
	position:relative;	
}
.disableAutoSuggest {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	cursor:not-allowed;	
	z-index:999;
}
ul.autoSuggest {
	position:relative;
	height:300px;
	overflow-y:auto;
	overflow-x:hidden;
}
ul.autoSuggest li {
	position:relative;	
	padding-left:30px;
	background-color:#fafbfb;
	-webkit-transition: background-color ease-in-out 0.3s;
    transition: background-color ease-in-out 0.3s;
}
ul.autoSuggest li .dragable {
	height:74px;
	width:30px;	
	position:absolute;
	cursor:pointer;
	top:0;
	color:#999999;
	left:0;
	background-color:#FAFBFB;
	text-align:center;
	line-height:74px;
	display:block;
	-webkit-transition: background-color ease-in-out 0.3s;
    transition: background-color ease-in-out 0.3s;
}
.numPLV {
	height:74px;
	width:30px;	
	position:absolute;
	top:0;
	color:#999999;
	left:0;	
}
ul.autoSuggest li:hover, ul.autoSuggest li:hover .dragable {
	background-color:#eeeeee;	
}
ul.autoSuggest li .dragable i {
	margin-left:10px;	
}
ul.autoSuggest li.highlight{
	background-color:#FFC;
	height:74px;
}
ul.autoSuggest li a {
	padding:10px;	
	display:block;
	height:74px;
	color:#454545;
	font-weight:500;
}
ul.autoSuggest li a span {
	font-weight:300;	
}
ul.autoSuggest li a:hover {
	text-decoration:none;	
}
ul.autoSuggest li a.rowGrey {
	background-color:#f5f5f5;	
}
ul.autoSuggest li a span {
	color:#999999;
	font-size:13px;	
}
ul.autoSuggest li a img {
	width:96px;
	height:54px;
	float:left;
	margin-right:10px;
}
ul.autoSuggest li a p {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	padding-right:40px;
}
ul.autoSuggest li a.btnDelSuggest, ul.autoSuggest li a.btnViewSuggest {
	position:absolute;
	top:50%;
	margin-top:-20px;
	right:0;	
	background:none;
	width:40px;
	height:40px;
	color:#999999;
}
ul.autoSuggest li a.btnDelSuggest:hover {
	color:#454545;	
}
/********Edit Video*********/
.col50pBox, .col100pBox {
	padding:20px;	
	border:1px solid #eeeeee;
	margin-bottom:20px;
}
.wEmbed {
	position:relative;	
	padding-right:221px;
}
.actionEmbed {
	position:absolute;
	top:0;
	right:0;	
}
.wEmbed .SumoSelect {
    width: 125px;
	float:left;
	margin-right: 10px;
}
.wrapperPlayerEdit {
	position:relative;
	height:100%;	
	width:100%;
	padding-top:56.25%;
	padding-bottom:30px;
}

.playerEdit {
	position:absolute;
	height:100%;
	width:100%;
	top:0;	
}
.playerEdit object {
	min-height:inherit !important;	
}
.btnEditVideo {
	position:absolute;
	top:0;
	right:0;
	color:#3ea9f5;
}
.btnEditVideo:hover {
	background-color:#3ea9f5;
	color:#ffffff;	
}
.titleVideoEdit {
	margin:10px 0;
}
.titleTxt {
	padding-right:50px;	
}
.infoVideo {
	position:relative;	
}
.infoVideo h2 {
	margin:0;
}
.hideForm {
	display:none;
}
.showForm {
	display:block;	
}
.mB10 {
	margin-bottom:10px;	
}
.titleVideoEdit {
	position:relative;
}
.infoVideoEdit {
	background-color: #fafbfb;
    margin: 20px -20px 0;
    padding: 1px 20px;
    position: relative;
}
.btnCancelEdit {
	position:absolute;
	right:20px;
	top:20px;	
}
.descEditVideo {
	height:80px;
	line-height:20px;
	overflow:auto;
	-webkit-overflow-scrolling: touch;	
}
.sectionVideoEdit div {
	float:left;	
}
.sectionVideoEdit .SumoSelect {
    width: 197px;
}
.sectionFeild {
	color: #999999;
    float: left;
    line-height: 35px;
    margin-right: 10px;	
}
.sectionTxt {
	float:left;
	line-height: 35px;
}
.infoVideo .actionForm {
	border:none;	
}
.calendarVideo {
	position:relative;	
}
.actionFormCalendar {
	margin-left:3px;	
	float:right !important;
}
.calendarFeild {
	line-height:34px;
	margin-right:10px;	
}
.calendarFeild i {
	margin-right:5px;	
}

.calendarVideo .note {
	clear:left;
	padding-top:10px;
}
@media (max-width:1200px) {
	.calendarVideo .calendar {
		width:112px;	
	}	
}
.thumbVideo {
	position:relative;	
}
.thumbFeild {
	margin-bottom:10px;	
}
.actionFormThumb {
	margin-left:3px;	
	float:right;
}
.thumbItems {
	margin:0 -10px;
	margin-bottom:10px;	
}
.thumbItems ul li {
	position:relative;
	float:left;	
	width:33.3333%;
	padding: 5px;
	border:2px solid #ffffff;
}
@media (max-width:1365px) {
	.thumbItems ul li {
		width:50%;	
	}
}
.thumbItems ul li a {
	display:block;	
}
.thumbItems ul li a.disabled {
    cursor: not-allowed;
}
.thumbItems ul li a.enabled {
    cursor: pointer;
}
.thumbItems ul li.active {
	border:2px solid #3ea9f5;	
}
.thumbItems ul li.active .disabled {
	cursor:pointer;	
}
.thumbItems ul li a img {
	width:100%;	
	display:block;
}
.liveVideo {
	position:relative;
	padding-left:67px;	
	padding-right:40px;
}
.liveVideo .actionForm {
	border:none;	
}
.liveFeild {
	color: #999999;
    position:absolute;
	top:0;
	left:0;
    line-height: 35px;
}
.liveTxt {
	line-height: 35px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	margin-bottom:6px;
}
.searchSuggestEdit .btnDelRelate {
    right: 43px;
}
.searchSuggestEdit .searchRelate {
    padding-right: 48px;
}
.searchSuggestEdit .btnEditVideo {
    top: 25px;
	z-index:1000;
}
.searchSuggestEdit .actionForm {
	padding-bottom:0;	
}
.disabledPL {
	pointer-events:none;	
}
.playlistEdit .actionForm  {
	float:right;
	border:none;
	padding:0;
}
.dropdownPlaylist {
	top:55px;	
}
.playlistPicked {
	margin-top:10px;	
}
.bgEditVideo {
	background-color:#f5f5f5;	
}

/***********Detail Video*************/
.wrapperVideoDetail {
	padding:20px;	
}
.leftVideoDetail {
	width:480px;
	float:left;
	margin-right:20px;
}
.wrapperPlayer {
	position:relative;
	width:100%;
	padding-top:56.25%;
	padding-bottom:30px;
	margin-bottom:20px;
}
.playerVideo {
	position:absolute;
	top:0;
	left:0;	
	width:100%;
	height:100%;
}
.infoVideoDetail {
	padding-left:500px;
}
.infoVideoDetail h1 {
	margin-top:0;	
}
.descVideoDetail {
	max-height:286px;
	overflow:auto	
}
/*style celendar*/
.atCalendar {
	float: left;
	width: 250px;
}
.atCalendar label, .atCalendar span {
	float: left;
	display: block;
	height: 34px;
	line-height: 34px;
	margin: 0 10px;	
}
.atCalendar span {
  margin: 0 5px;
}
.timeCalendar {
  float: left;
  width: 72px;
}
.wrapperVideoDetail .formGroup .calendar {
	position:relative;
	width:197px;
	float:left;
}
/***thumbnail**/
.wrapperTV h3 {
	margin-top:0;	
}
ul.listTV li {
	float:left;	
	padding:5px;
	width:50%;
	display:block;
}
ul.listTV li a {
	display:block;
	border:2px solid #eeeeee;
	padding:5px;	
	-ms-transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
ul.listTV li a:hover, ul.listTV li a.selected {
	border-color: #1981cb;	
}
ul.listTV li a img {
	width:100%;	
	display:block;
}
/*Relate video*/
.wrapperVideoDetail .searchRelate {
	width: 500px;
	margin: 0 0 10px 40px;
	position: relative;
	float: right;
}
.wrapperVideoDetail ul.autoSuggest {
	border:1px solid #eeeeee;
	height:auto;
}
.wrapperVideoDetail ul.autoSuggest li {
	border-bottom:1px solid #eeeeee;
}
.wrapperVideoDetail ul.autoSuggest li:hover {
	background-color:#eeeeee;
}
.wrapperVideoDetail ul.autoSuggest li:nth-child(odd) {
	background-color:#ffffff;
}
.wrapperVideoDetail ul.autoSuggest li:nth-child(even) {
	background-color:#fafbfb;
}
.wrapperVideoDetail ul.autoSuggest li, .wrapperVideoDetail ul.autoSuggest li .dragable {
	background-color:#ffffff;
}
.wrapperVideoDetail ul.autoSuggest li:hover, .wrapperVideoDetail ul.autoSuggest li:hover .dragable {
	background-color:#eeeeee;
}
.wrapperVideoDetail ul.autoSuggest li.highlight {
	background-color:#FFC;
}
.wrapperVideoDetail ul.autoSuggest li a.btnDelSuggest {
	right:92px;	
	display:none;
}
.wrapperVideoDetail ul.autoSuggest li a.btnViewSuggest {
	right:140px;	
	display:none;
}
.wrapperVideoDetail ul.autoSuggest li a.btn i {
	margin-right:0;	
}
.wrapperVideoDetail ul.autoSuggest li a.btnDelSuggest:hover, .wrapperVideoDetail ul.autoSuggest li a.btnViewSuggest:hover {
	background-color:#1981cb;
	color: #ffffff;	
}
.wrapperVideoDetail ul.autoSuggest li:hover a.btnDelSuggest, .wrapperVideoDetail ul.autoSuggest li:hover a.btnViewSuggest {
	display:block;
}
.durationVD {
	position: absolute;
	right: 26px;
	top: 27px;
}
/********Create Playlist*********/
.addToPlaylist {
	margin:20px 10px;
	padding:20px 10px 0 10px;
	border:1px solid #eeeeee;	
}
.addToPlaylist ul.autoSuggest li {
	padding-left:0;
	padding-right:30px;	
}
ul.autoSuggest li .btnAddVideo {
	line-height: 54px;
    position: absolute;
    right: 0;
    top: 0;	
	color:#fafbfb;
}
ul.autoSuggest li .btnAddVideo i {
	margin-right:0;	
}
ul.autoSuggest li:hover .btnAddVideo {
	background-color:#3ea9f5;
	color:#ffffff;	
}
.listVideo ul.autoSuggest li, .listVideo ul.autoSuggest li .dragable {
	background-color:#f5f5f5;
}
.listVideo ul.autoSuggest li:hover, .listVideo ul.autoSuggest li:hover .dragable {
	background-color:#eeeeee;
}
.listVideo ul.autoSuggest li.highlight {
	background-color:#FFC;
}
.listVideo label .fa-check {
	color:#78cd51;
}
.headListVideo {
	margin-bottom:10px;	
}
.numVideo {
	color:#3ea9f5;	
}
.listVideo ul.autoSuggest li {
	padding-left:30px;	
}
.searchToAdd .slimScrollDiv, .listVideo .slimScrollDiv {
	padding-right:0;	
}
/********Preview Playlist********/
#previewPlaylist .popupContentBox .wEmbed {
    padding-right: 86px;
}
#previewPlaylist .popupContent {
    height: auto;
}
.headLVP {
	background-color:#333333;
	position:relative;
	height:65px;	
	padding:10px 50px 10px 70px;
}
.iconPlaylist {
	position:absolute;
	top:20px;
	left:16px;
	color:#ffffff;
	font-size:20px;
}
.headLVP a {
	color:#ffffff;	
	display:block;
	font-weight:500;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.headLVP a span {
	color:#eeeeee;	
}
.creator {
	color:#CCC;	
	font-size:13px;
}
.creator span {
	color:#ffffff;	
}
.btnDownPlaylist, .btnUpPlaylist {
	background:none;
	color:none;
	position:absolute;
	right:0;
	color:#ffffff;		
}
.btnDownPlaylist {
	top:13px	
}
.btnUpPlaylist {
	display:none;	
	top:18px;
}
.listVideoPlaylist {
	overflow:hidden;
	height:0;
	margin-bottom:10px;
}
.listVideoPlaylist ul {
	height:227px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}
.listVideoPlaylist ul li a {
	color:#ffffff;
	padding:10px;
	display:block;
	background-color:#454545;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:13px;	
}
.listVideoPlaylist ul li a.active {
	color:#3ea9f5;
	font-weight:500;	
}
.listVideoPlaylist ul li a.boldRow {
	background-color:#3c3c3c;	
}
.listVideoPlaylist ul li a:hover {
	color:#ffffff;
	background-color:#3ea9f5;
}
.numLVP {
    display: inline-block;
    padding-left: 10px;
    width: 60px;
}
/*********popup create user********/
#createUser .formGroup.inline .formGlobal, #editUser .formGroup.inline .formGlobal {
    width: 531px;
}
#editUser .formGroup.inline .halfInput {
	width:206px;
	margin-right:10px;	
}
.formGroup.inline {
	position:relative;	
}
.formGroup.inline label {
	float:left;
	width:135px;
	margin-top:10px;
}
.formGroup.inline .formGlobal {
	float:left;
	width:323px;	
}
#createUser .checkbox label, #editUser .checkbox label {
	font-weight:300;
}
.createGroup {
	padding-left:136px;	
}
.boxAddUser .createGroup .formGroup.inline label {
	width:73px;	
}
.boxAddUser .createGroup .formGroup.inline {
	padding-left: 78px;
}
.labelPermission {
	font-weight:500;
	float:none !important;		
}
.boxPermission {
	border:1px solid #eeeeee;
	padding:15px;	
	overflow:auto;
	height:162px;
	-webkit-overflow-scrolling: touch;
	background-color:#f7f7f7;
}
#createUser .slimScrollDiv,#editUser .slimScrollDiv {
	padding-right:0;	
}
.boxPermission .listPermission label {
	font-weight:300;
	width:auto;
	font-size:13px;
	cursor:pointer;
	float:none;
}
.listPermission h3 {
	margin:0 0 10px 0;	
	font-size:14px;
}
.listPermission {
	width:50%;
	padding-right:10px;	
	float:left;
}
.listPermission > ul {
	margin-bottom:20px;	
}
@media (max-width:1440px) {
	.searchFix {
		width:37%;	
	}
}
/********Add User*********/
.boxAddUser {
	width:50%;
	float:left;	
}
.boxAddUser .boxPermission {
	height: 335px;
}
.boxAddUser .formGroup.inline {
  padding-left: 135px;
}
.boxAddUser .formGroup.inline label {
	width: 135px;
	position: absolute;
	left: 0;
	top: -2px;
}
.boxAddUser .formGroup.inline .formGlobal {
	width: 100%;
}
.requireInput {
	border-left: 3px solid #C00;
}
.suggestUser {
	display:block;
	padding:5px 0;
	float:left;	
	font-size:12px;
}
.suggestUser:hover {
	text-decoration:underline;	
}
.suggestUser i {
	font-size:10px;	
	margin-right:5px;
}
.boxAddUser .boxPermission {
	margin-bottom:15px;
}
.headBoxUser {
	margin-top:0px;	
}
.require {
	font-size:13px;
	font-weight:300;
	font-style:italic;
	color:#999999;	
	margin-left:10px;
}
.boxAddUser .listPermission {
	width: 100%;
	padding-right: 10px;
	float: none;
}
/***********analytics************/
ul.tabs.analytics {
	position:relative;	
}
.pickRangeTime {
	position:absolute;
	right:20px;
	top:8px;
}
.txtRangeTime {
	float:left;
	line-height:27px;	
}
.btnPickTime {
	background-color:#ffffff;
	padding:3px 10px;	
	height:25px;
	float:left;
	display:block;
	cursor:pointer;
	margin-left:10px;
	border:1px solid #dddddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-border-radius: 4px;
}
.btnPickTime i {
	margin-left:5px;	
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
	-ms-transition: transform ease-in-out 0.3s;
	-webkit-transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
}
.btnPickTime i.animateArrow {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}
.wRangeTime {
	height:0;
	overflow:hidden;	
}
.rangeTime {
	padding:20px;
	border-bottom:1px solid #eeeeee;	
}
.calendarTime {
	float:right;
	width:470px;	
}
.calendarTime .formGroup .calendar {
    float:left;
	margin-right:5px;
}
.quickTime {
	float:right;
	width:368px;
}
.quickTime ul {
	width:50%;
	float:left;	
}
.quickTime ul li a:hover {
	text-decoration:underline;	
}
.imgDataVideo.analytics, .imgDataVideo.analytics img {
	width:72px;
	height:40px;	
}
.rowVideo {
	padding:20px;
	border-bottom:1px solid #eeeeee;
}
.infoGeneral {
	position:relative;	
}
.infoGeneral h2 {
	margin: 0 0 15px;	
}
.infoGeneral h2 a {
	font-size:13px;
	font-weight:300;	
}
.boxInfoG {
	height: 60px;
	background-color: #eeeeee;
	padding: 3px 15px;	
}
.chartVideo {
	padding:10px;
	border-bottom:1px solid #eeeeee;	
}
.chartBox {
	border:1px solid #eeeeee;
}
.chartBox100p {
	padding:10px;
	float:left;
	width:100%;
}
.chartBox50p {
	padding:10px;
	float:left;
	width:50%;	
}
.headChartBox {
	background-color:#fafbfb;	
	padding:15px 20px 10px 20px;
	border-bottom:1px solid #eeeeee;	
	position:relative;
}
.headChartBox h3 {
	margin-top:0;
	margin-bottom:5px;	
}
.headChartBox a {
	position: absolute;
	right: 20px;
	top: 15px;	
}
.listChartBox {
	background-color:#fafbfb;	
	padding: 10px 20px;
	border-bottom:1px solid #eeeeee;	
	position:relative;
}
ul.listHeadBox li {
	float:left;	
}
ul.listHeadBox li a {
	position:relative;	
	top:auto;
	right:auto;
	color:#1981cb;
	padding: 3px 10px;
	display: block;
}
ul.listHeadBox li a:hover {
	text-decoration:underline;
}
.fillterHeadBox {
	position: absolute;
	top: 9px;
	right: 18px;
}
.countRecord {
	text-align:right;
	max-width:450px;
	float:right;
}
.countRecord label, .countRecord span {
	display:inline-block;
	line-height:24px;	
}
.countRecord .formGlobal {
	float:none !important;
	display:inline-block;	
	width: 50px;
	height: 25px;
	padding: 0;
	margin-left: 5px;
}
ul.listHeadBox li.selected a {
	color:#454545;
	font-weight:500;
}
ul.listHeadBox li.selected a:hover {
	text-decoration:none;
	cursor:text;	
}
ul.listHeadBox li.parent a {
	font-weight:500;
	color:#ffffff;	
}

.contentChartBox {
	padding:20px;	
	min-height:300px;
}
.imgAnatylic {
	float:left;
	width: 192px;
	height: 108px;
}
.userAnalytic .imgAnatylic {
	width: 80px;
	height:80px;
}
.infoAnatylic {
	height:108px;
	padding-left:212px;	
	position:relative;
}
.userAnalytic .infoAnatylic {
	padding-left:96px;	
	height:80px;
}
.userAnalytic .statusDataSuccess, .userAnalytic .statusDataProcess  {
	font-size: 13px;
	padding: 7px 4px;
}
.infoAnatylic h2 {
	margin:0;	
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.statusAnatylic  {
	height:60px;
	text-align:center;
	color:#ffffff;
	position:absolute;
	bottom:0;
	right:0;
	font-size:13px;	
}
.statusAnatylic span {
	font-weight:500;
	font-size:16px;	
}
.statusAnatylic .viewAnatylic, .statusAnatylic .viewAnatylicFull, .statusAnatylic .totalVideoG {
	float:left;	
	padding:10px 20px;
	min-width:100px;
}
.statusAnatylic .viewAnatylic {
	background-color:#04c2d8;	
}
.statusAnatylic .viewAnatylicFull {
	background-color:#78cd51;
}
.statusAnatylic .totalVideoG {
	background-color:#eeb221;	
}
.processAnalytic {
	position: relative;
	padding-left: 50px;
	height: 10px;	
}
.processAnalytic span {
	position: absolute;
	top: -4px;
	left: 0;
}
.wrapperPA {
  height: 10px;
  background-color: #eeeeee;
}
.processStatusPA {
	height: 10px;
	background-color: #78cd51;
}

/***********Player Setting*********/
.headColBox {
	margin:-20px -20px 20px;
	background-color:#fafbfb;
	padding:20px;	
	border-bottom:1px solid #eeeeee;	
	position: relative;
}
.headColBox .switch_options {
	position:absolute;
	top:18px;
	left:108px;	
}
/* Main block */
.switch_options{
	display: block;
	font-family: "Helvetica", Arial, Sans-serif;
	margin-bottom: 10px;
}
/* Main block clearfix */
.switch_options:before,
.switch_options:after{
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
.switch_options:after{clear:both;}

/*Options*/
.switch_options span{
	display: inline-block;
	float: left;
	padding: 4px 9px;
	margin: 0;
	cursor: pointer;
	font-size: 11px;
	font-weight: 700;
	color: #555;
	background: #eeeeee; 

}
.switch_options span:first-of-type{
	border-radius: 2px 0 0 2px;
	border-right: 0;
}
.switch_options span:last-of-type{
	border-radius: 0 2px 2px 0;
	border-left: 0;
}
.switch_options span:hover{
	background: #dddddd;
}

/* Active option */
.switch_options span.selected{
	background: #78cd51; 
	color: #fff;
}
.switch_options span.switch_disable.selected{
	background: #bdbdbd; 
	color: #fff;
}
.playerSetting .note {
	line-height:30px;	
}
.playerSetting .formGroup label {
	font-weight:300;
}
.formSwitch {
	margin-bottom:15px;	
}
.formSwitch .switch_options {
	float:left;
	margin-right:15px;
}
.formSwitch label {
	line-height:22px;
}
.playerSetting .col50pBox {
    height: 349px;
}
/*************Install adtag*************/
.tabsContentGlobal.install .tableData {
	padding:20px;	
}
.tabsContentGlobal.install .headColBox {
    padding: 20px 20px 20px 53px;
	margin: 0 -20px 0 -20px;
}
.headColBox .icoDesktop {
	position:absolute;
	left:18px;
	top:17px;
	font-size:20px;	
}
.headColBox .icoMobile {
	font-size: 35px;
    left: 20px;
    position: absolute;
    top: 5px;
}
.rowInstall {
	border-bottom:1px solid #eeeeee;
	margin:0 -20px 0 -20px;
	padding:20px 20px 0;	
}
.rowInstall.last {
	border-bottom:none;
	margin-bottom:0;	
}
.rowInstall.selected,.rowInstall.selected:hover  {
	background-color:#FFF4F2;	
}
.rowInstall:hover{
	background-color:#fafbfb;
}
.formGroupInstall {
	position:relative;
	padding-right:100px;
	padding-bottom:20px;
}
.formGroupInstall label {
	margin-bottom:8px;
	display:block;	
}
.selectInstall {
	position:absolute;
	width:90px;
	right:0;
	top:28px;	
}
.rowInstall .formGlobal::-moz-placeholder {
    color: #3ea9f5;
}
.inputTime {
	position:relative;
	padding-left:50px;
}
.inputTime p {
	height:35px;	
	display:table-cell;
	vertical-align:middle;
}
.inputTime input {
	position:absolute;
	width:40px;
	left:0;
	top:0;	
}
.rowInstall .inputTime .formGlobal::-moz-placeholder {
    color: #999999;
}
.sameDesktop {
	margin:0 -20px 0;
	padding:20px;	
	border-bottom:1px solid #eeeeee;
}
.sameDesktop .checkbox label {
	color:#C00;	
}
.install .col50pBox {
	min-height:955px;
	padding:0 20px;	
}
.col100pBox.fixPadding {
	padding:20px 10px;	
}
@media (min-width:1366px) {
	.fixWidthAuto {
		width:auto !important;	
	}
}
#linkVideo .popup-body {
	width:500px;
	margin-left:-250px;	
	height:245px;
}
#linkVideo.animatePopup {
	top:50%;
	margin-top:-125px;	
}
/**********Change Profile************/
.changeProfile {
	width:50%;
	padding:20px;	
}
/*******Activity******/
.colBoxActivity {
	padding:10px 0;	
	border:1px solid #eeeeee;
	margin-bottom:20px;
}
.activity {
	margin:10px 20px;	
}
.activity h2 {
	margin-top:0;	
}
.activity .popupInfoVideo {
	margin-top:15px;	
}
.activityLine {
	padding:10px 135px 10px 20px;
	position: relative;
	background-color:#f7f7f7;
}
.activityLine:nth-child(odd) {
	background-color:#ffffff;	
}
.leftAL {
	float:left;	
	width:55px;
	padding-right:30px;
}
.leftAL img {
	width:40px;
	height:40px;	
}
.rightAL {
	margin-left:55px;
	padding-right:20px;
}
.rightAL p {
	margin:0;
}
.nameUser {
	font-weight:500;
	color:#1981cb;	
}
.timeAL {
	font-size:13px;
	position: absolute;
	width: 115px;
	top: 15px;
	right: 15px;
	height: 30px;
	line-height:30px;
	color: #454545;
	padding:0 10px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;	
}
.timeAL i {
	margin-right:5px;	
}
.statusAL {
	margin-bottom:0;
	position:relative;	
	margin-top:2px !important;
}
.statusAL .fa-long-arrow-right {
	margin:0 10px;	
}
.wrapperArrow {
	position:relative;
	display: inline-block;
	width: 30px;
	height: 27px;
}
.wrapperArrow i {
	position:absolute;
	top: 8px;
	left: -1px;	
	color:#999;
}
.imageEdit {
	position:absolute;
	top:-5px;
	left:150px;	
}
.titleAL {
	color:#1981cb;	
}
.icoStatusAL {
	color:#78cd51;
	width:20px;
	height:20px;
	font-size:14px;
	display:inline-block;
	text-align:center;
	margin-right:5px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;	
}
.moreActivity {
	display: inline-block;
	padding-left: 70px;
	font-weight: 500;
	font-size: 13px;
	padding: 15px 20px;
}

/*************Activity user****************/
.imgActivity {
	position:absolute;
	left:0;
	top: 5px;
}
.activity.user .popupInfoVideo {
	padding-left:85px;
	position:relative;
}

/**********Box Realtime**********/
.col-left, .col-right {
	float:left;
	color:#ffffff;
}
.col-left {
	width:40%;
	text-align:center;	
}
.col-right {
	width:60%;	
}
.p-playing {
	background-color:#3ea9f5;
	position:relative;
}
.p-playing .fa-caret-down {
	position: absolute;
	top: 36px;
	color: #2c8dd1;
	font-size: 20px;
	left: 50%;
	margin-left: -7px;
}
.title-p-playing  {
	height:44px;
	background-color:#2c8dd1;
	padding-top: 12px;
	color: rgba(255,255,255,0.8);
}
.count-p-playing  {
	height:176px;
	line-height:176px;
	font-size:30px;
	font-weight:500;
}
.w-opening, .p-downloaded, .v-playing, .u-in, .u-out {
	height:44px;
	position:relative;
	padding-left:155px;
}
.title-w-opening, .title-p-downloaded, .title-v-playing, .title-u-in, .title-u-out {
	position:absolute;	
	width:155px;
	left:0;
	top:0;
	text-align:center;
	height:44px;
	padding-top: 12px;
	color: rgba(255,255,255,0.8);
}
.title-w-opening {
	background-color:#6d59a1;
}
.title-p-downloaded {
	background-color:#529f2e;
}
.title-v-playing {
	background-color:#d19624;
}
.title-u-in {
	background-color:#b93627;
}
.title-u-out {
	background-color:#008898;
}
.count-w-opening, .count-p-downloaded, .count-v-playing, .count-u-in, .count-u-out {
	font-size:16px;	
	text-align:center;
	font-weight:500;
	padding-top: 10px;
}
.w-opening {
	background-color:#937fc7;
}
.p-downloaded {
	background-color:#78cd51;
}
.v-playing {
	background-color:#f6b436;
}
.u-in {
	background-color:#e64b3a;
}
.u-out {
	background-color:#04c2d8;
}
.w-opening .fa-caret-right, .p-downloaded .fa-caret-right, .v-playing .fa-caret-right, .u-in .fa-caret-right, .u-out .fa-caret-right {
	position: absolute;
	top: 14px;
	color: #c72f1e;
	font-size: 16px;
	left: 154px;
}	
.w-opening .fa-caret-right {
	color:#6d59a1;
}
.p-downloaded .fa-caret-right {
	color:#529f2e;
}
.v-playing .fa-caret-right {
	color:#d19624;
}
.u-in .fa-caret-right {
	color:#b93627;	
}
.u-out .fa-caret-right {
	color:#008898;	
}
.finalStatic {
	padding-top:6px;
	clear:both;	
}
.finalStatic span {
	font-weight:500;	
}
.contentChartBox .CSSTableGenerator table {
	min-width: 461px;
}
/*******18/3 thêm avatar list user*******/
.img-user {
	width:40px;
	height:40px;
	display:block;
	float:left;
}
.infoUser {
	padding-left:50px;	
}
/******* uploading ******/	
.spinner {
	margin: 0 auto;
	width: 51px;
	text-align: center;
	position: relative;
	padding: 7px 12px;
}

.spinner > div {
  width: 6px;
  height: 6px;
  background-color: #F3BB35;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/***** Page View Video *****/	
.headBoxContent  {
	margin-bottom: 10px;	
}
.pageViewVideo {
	border:1px solid #eeeeee;	
}
.lineVV {
	border-bottom:1px solid #eeeeee;	
}
.lineVV:nth-last-child(1) {
	border-bottom-width: 0;	
}
.lineVV:nth-child(even) {
	background-color: #f7f7f7;	
}
.lineVV:nth-child(odd) {
	background-color: #ffffff;	
}

.headVV {
	padding:20px 20px 10px;	
}
.headVV h3 {
	color: #1981cb;	
	margin:0;
	max-width:480px;
}
.countVV {
    background-color: #1981cb;
    color: #ffffff;
	font-size:12px;
	padding: 3px 10px;
	margin-right:10px;
    display: inline-block;
}
.timePlayerVV {
	float:right;	
	font-size:12px;
}
.contentVV {
	display:table;
	margin:0 20px;	
	font-size:12px;
	padding-bottom:20px;
}
.infoVV {
	display: table-cell;	
}
.graphVV {
	display:table-cell;
	width:100%;
	vertical-align:middle;	
}
.infoVV img {
	height:70px;
	width:124px;
	float:left;	
}
ul.list2col {
	padding-left: 140px;
    width: 520px;	
}
ul.list2col li {
	float:left;
	width:50%;
	padding-right:20px;
	line-height:22px;
}
.browserVV {
	padding-left: 140px;	
	line-height:22px;
}
.titleGraph {
	font-weight:500;
	margin-top: -14px;	
}
.barSeek {
	position:relative;
	background-color:#eeeeee;
	height:20px;
}
.watchedSeek {
	position:absolute;
	background-color: #78cd51;
	top: 0;
	height:20px;	
}
.timeSeek ul {
	position:relative;	
}
.timeSeek ul li {
	position:absolute;
}
.timeWrap {
	position:relative;
	width:100%;
	height:100%;
	padding:7px 12px;	
}
/*******NotificationPage*****/	
.notificationPage {
    padding: 30px;
}
.notificationPage h1 {
	margin-top:0;	
}
.notificationPage > img {
    float: left;
    margin-right: 20px;
	width:147px;
	height:126px;
}
.messageNP {
	display: table-cell;
	vertical-align: middle;
	height: 126px;
}
.messageNP > p {
	font-size:15px;	
}
/****All Channel*****/
.infoChannel {
	display:table-cell;
	height:40px;
	vertical-align:middle;
	padding-left:10px;	
}