@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext,vietnamese);
html, body {
	height:100%;
}

.bgMusic {
	width:100%;
	background-image:url(../images/bg.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	height:100%;
	position:fixed;
	top:0;
	z-index:1;
}
#wrapper {
	position:relative;
	padding-top:99px;	
	padding-bottom:60px;
	min-height:100%;
}
.view {
	background:url(../images/bgView.png);
	width:127px;
	height:94px;
	position:absolute;
	top:0;
	right:50px;	
	z-index:999;
	text-align:center;
}
.view p {
	font-size:24px;
	font-weight:700;	
	margin:10px 0 0;
}
.view span {
	font-style:italic;	
}

/**************
	Header
***************/
#header {
	position:absolute;
	top:0;
	left:0;
	width:100%;	
	height:90px;
	z-index:999;
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}
#logo {
	float:left;	
	margin:20px 0 0;
}
#logo h1 {
	margin:0;	
}
#logo h1 a {
	color:#ffffff;	
}
.colorBlue {
	color:#4bcaff;	
}
#navMenu {
	float:left;
}
.btnMenu {
	float:left;
	width:30px;
	height:30px;	
	background:none;
	padding:0;
	margin:24px 24px 0 24px;
	-webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}
.animationRotate {
	-webkit-transform: rotate(90deg);  
    -moz-transform: rotate(90deg);  
      -ms-transform: rotate(90deg);  
        -o-transform: rotate(90deg); 
         transform: rotate(90deg);	
}
.btnMenu:focus {
	outline:none;	
}
.btnMenu .icon-bar {
	height:2px;
	background-color:#ffffff;
	display:block;
	width:30px;
	margin:2px 0;
	float:left;
}
#navMenu .nav {
	float:left;	
	display:none;
}
#navMenu .nav > li {
	float:left;	
}
#navMenu .nav > li > a {
	padding:25px;
	font-size:18px;
	color:#ffffff;
	text-transform:uppercase;
	-webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}
#navMenu .nav > li > a.active, #navMenu .nav > li > a:hover, #navMenu .nav > li > a:focus {
	background-color: rgba(0,0,0,0.4);	
	color:#4bcaff;
}
/**************
	Footer
***************/
#footer {
	position:absolute;
	bottom:0;
	width:100%;
	z-index:999;
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}
#footer .nav {
	float:left;
	position:relative;
	padding-left:14px;	
	max-width:372px;
}
#footer .nav > li {
	float:left;	
}
#footer .nav > li.dash {
	color: #4bcaff;
    font-size: 29px;
    font-style: italic;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 1px;
}
#footer .nav > li > a, #footer .nav > li > a:focus {
	padding:15px;
	font-size:16px;
	color:#ffffff;
	background:none;
}
#footer .nav > li > a:hover {
	background:none;
	text-decoration:underline;	
	color:#4bcaff;
}
.partnerFooter {
	float:right;
	height:56px;
	line-height:38px;
	max-width:264px;	
	padding-top:10px;
}
.txtPartnerFooter {
	font-size:13px;	
	color:#ffffff;
	font-style:italic;
}
.partnerFooter a {
	display:inline-block;
	margin: 0 10px;
	width:67px;
	height:23px;
}
@media (max-width:767px) {
	#navMenu .nav > li {
		width:50%;
		background-color: rgba(0,0,0,0.4);	
	}	
	#navMenu .nav > li > a {
		padding:20px 0;	
		text-align:center;
	}
	#navMenu .nav > li > a.active {
		background:none;	
		color:#4bcaff;
	}
	#footer .nav {
		padding-left:0;	
		max-width:280px;
	}
	#footer .nav > li > a, #footer .nav > li > a:focus {
		font-size: 14px;
		padding: 10px;
	}
	.partnerFooter a {
		width: 49px;
		height:17px;
	}
	.partnerFooter {
		line-height: 22px;
		padding-top: 10px;
		text-align: center;
	}
	.txtPartnerFooter {
		font-size: 13px;
	}
}
@media (max-width:991px) {
	#navMenu {
		width:100%;
		margin-top:10px;
	}
	#navMenu .nav {
		width:100%;	
		background-color: rgba(0,0,0,0.4);	
	}
	.btnMenu {
		float:right;
		margin-right:0;	
	}
	#navMenu {
		float:right;
		clear:right;	
	}
	#footer .nav {
		float:none;
		margin:0 auto;
	}
	.partnerFooter {
		float:none;
		margin:0 auto;	
	}
	.modal-backdrop.in {
		opacity: 0.9;
	}
}

/**************
	Content
***************/

#content {
	z-index:998;
	position:relative;
	padding:160px 0 50px 0;
	width:100%;
	overflow:hidden;
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}
.item {
	width:100%;
	float:left;
	height:100%;
}
#about, #service, #contact {
	display:none;	
}
.home {
	max-width:768px;
	margin:0 auto;
	text-align:center;		
}
.home h2 {
	font-size:46px;
}
.home p {
	font-size:20px;	
	margin: 30px 0;
}
.btnJoin, .btnJoin:focus {
	display:block;
	width:200px;
	height:60px;
	margin:20px auto;
	text-align:center;
	line-height:60px;
	color:#4BCAFF;
	border:1px solid #4BCAFF;
	border-radius:5px;
	-webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}
.btnJoin:hover {
	background-color:#4BCAFF;
	border:1px solid #4BCAFF;
	color:#ffffff;
	text-shadow:none;	
}
.about h2 {
	margin:0 0 20px 0;	
}
.imgAbout {
	float:left;
	width:150px;
	margin-right:20px;
	
}
.about p {
	font-size:16px;	
}
.service {
	text-align:center;	
}
.service .glyphicon {
	font-size:50px;	
}
.service h2 {
	color:##4BCAFF;	
}
.service div {
	margin-bottom:30px;	
}
.contact {
	max-width:480px;
	margin:0 auto;	
}
.contact h2 {
	margin-bottom:20px;	
}
.contact input.form-control {
	height:40px;	
}
.contact .form-control {
	background-color: rgba(0,0,0,0.4);
	border:none;	
	margin-bottom:10px;
	color:#ffffff;
}
.contact .form-control::-moz-placeholder {
	color:#a1a1a1;	
}
.contact button {
	width:100%;	
	background-color: #4BCAFF;
	color: #013044;
	padding:10px;
	font-weight:700;
}
.contact button:hover {
	background-color: #008fd5;
}
@media (max-width:767px) {
	#wrapper {
		padding-bottom:99px;
	}
	#content {
		padding-top:0;	
		padding-bottom:10px;
	}
	.home h2, .contact h2  {
		font-size:24px;
		margin-top:0;
	}
	.home p, .about p {
		font-size:14px;	
	}
	.imgAbout {
		width:100px;
		margin-right:10px;
	}
	.about p {
		margin-top:0;
	}
}
@media (min-width:768) and (max-width:991px) {
	#wrapper {
		padding-bottom:99px;
	}
	#content {
		padding-top:0 !important;	
	}
}



@media (min-width:1200px) {
	body {
		overflow:hidden;	
	}
	.container-fluid {
		padding-left: 50px;
		padding-right: 50px;
	}	
	.item {
		height:358px;
		overflow:hidden;
		position:relative;
	}
}
@media screen and (min-width:991px) and (max-height: 767px) { 
	#content {
		padding-top:70px;
	}
}


.modal-content {
	padding:20px 20px 0;
}
.modal-content h1 {
	text-transform:uppercase;
	position:relative;	
	padding-left:28px;
	margin-top:0;
}
.modal-content .dash {
	position:absolute;
	color:#4bcaff;
	font-style:italic;
	top:-3px; 
	left:0;	
	font-weight:700;
}
.modal-content .fixMargin {
	margin:0 -10px;	
}
.modal-content .itemPopup {
	padding:0 10px 20px 10px;	
}
.btnClose, .btnClose:focus {
	position:absolute;
	background:none;
	border:none;
	padding:0;
	top:-3px;
	right:0px;
	font-size:20px;	
	-webkit-transition: color 0.3s ease-out;  
     -moz-transition: color 0.3s ease-out;  
       -o-transition: color 0.3s ease-out; 
          transition: color 0.3s ease-out;
}
.btnClose:hover {
	color:#4bcaff;
}
.thumbChannel {
	display:block;
	position:relative;	
}
.thumbChannel h4 {
	position:absolute;
	max-width:100%;
	max-height:38px;
	background-color: rgba(75,202,255,0.9);
	bottom:0;
	margin:0;
	padding:10px;
	font-weight:400;
	color:#003044;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	-webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}
.itemPopup:hover h4 {
	max-height:70px;
	white-space:normal;
	color:#ffffff;
	background-color: rgba(0,0,0,0.8);
}
.descArtist {
	background-color: #202020;
	color:#898989;
	padding:15px;
	border-bottom:1px solid #2c2c2c;
	-webkit-transition: color 0.3s ease-out;  
     -moz-transition: color 0.3s ease-out;  
       -o-transition: color 0.3s ease-out; 
          transition: color 0.3s ease-out;
}
.descArtist p {
	height:56px;
	overflow:hidden;
	margin:0;
}
.footerArtist {
	background-color: #202020;
	padding:15px;
	position:relative;	
}
.footerArtist span {
	color:#696868;
}
.socialArtist {
	position:absolute;	
	width:80px;
	top:10px;
	right:5px;
}
.linkMetub, .linkMeme{
	width:30px;
	height:30px;
	border-radius: 3px;
	background-color:#202020;
	margin:0 5px;
	float:left;
	-webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}
.linkMetub img, .linkMeme img {
	margin-left: 4px;
    margin-top: 5px;
    width: 21px;
}
.linkMetub:hover {
	background-color:#f05661;	
}
.linkMeme:hover {
	background-color:#e64b3a;	
}
.itemPopup:hover .descArtist {
	color:#ffffff;	
}
.contentVideo {
	max-width:858px;
	margin:0 auto;	
	padding-bottom:10px;
}
.partner {
	text-align:center;
	margin:60px 0 30px 0;	
}
.logoMeme {
	display:block;
	margin:0 auto;
	width:200px;	
}
.partnerName {
	font-size:20px;
	margin:35px 0 10px 0;
	display:block;	
	text-transform:uppercase;
	color:#4bcaff;
}
.partner p {
	font-size:14px;
	padding:0 20px;
	line-height:24px;	
	color:#898989;
}






/***********************************
		Scrollbar
**********************************/
.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 6px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}
