<head>
    <meta charset="utf-8">
    <title>Webix Admin</title>
    <!-- The app's logic -->
    <script type="text/javascript" data-main="app" src="/libs/routie.js"></script>
    <script type="text/javascript" data-main="app" src="/libs/underscore.string.min.js"></script>
    <script type="text/javascript" data-main="app" src="/libs/require.js"></script>
    <script type="text/javascript">
        require.config({
            paths: {
                text:"libs/text",
                promise:"libs/requirejs-promise"
            }
        });
    </script>
</head>