<footer>
	<div class="container">
		<div class="title">Khám phá live TV</div>
		<div class="list-chuyen-muc-footer">
			<ul class="clearfix list-chuyen-muc">
				<li ng-repeat="item in listCategory"><a href="#/app/chuyen-muc/{{item._id}}" ng-click="onSelected(item.name);">{{item.name}}</a></li>
			</ul>
		</div>
		<div class="pull-right copyright">&copy; 2015 liveTV.All Rights Reserved.</div>
		<div class="chanel">
			<a class="tab-header" href="#select-chanel"><span class="txt-selected"><img src="images/20150321182312!THVL_Logo.png" alt="" width="90" height="30"></span><span class="icon icon-down"></span></a>
		</div>
	</div>
	<div class="dk-sd">
		<div class="container">
			<ul class="clearfix">
				<li><a href="#">Điều khoản sử dụng</a></li>
				<li><a href="#">Về liveTV</a></li>
				<li>Hotline: 1900 9088</li>
						<li><a href="http://sbddigital.com">Powered by SaoBacDau Digital</a></li>
			</ul>
		</div>
	</div>
</footer>
