/* style switch */
.switch-checkbox {
  display: inline-block;
  position: relative;
}
.switch-checkbox .sc-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch-checkbox .sc-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch-checkbox input.sc-toggle-round-flat + label {
  padding: 1px;
  width: 50px;
  height: 24px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.switch-checkbox input.sc-toggle-round-flat + label:before, .switch-checkbox input.sc-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.switch-checkbox input.sc-toggle-round-flat + label:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.switch-checkbox input.sc-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 18px;
  background-color: #ffffff;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.switch-checkbox input.sc-toggle-round-flat:checked + label:before {
  background-color: #78cd51;
}
.switch-checkbox input.sc-toggle-round-flat:checked + label:after {
  margin-left: 26px;
  background-color: #ffffff;
}
/* Slider */
input[type='range'] {
  display: block;
  margin: 0;
  border: solid .5em transparent;
  padding: 0;
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
  margin-left: -8px;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5em;
  border-radius: 0.25em;
  background: #eeeeee;
}
.js input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(#78cd51, #78cd51) no-repeat #eeeeee;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 0.5em;
  border-radius: 0.25em;
  background: #eeeeee;
}
.js input[type='range']::-moz-range-track {
  background: linear-gradient(#78cd51, #78cd51) no-repeat #eeeeee;
}
input[type='range']::-ms-track {
  border: none;
  width: 100%;
  height: 0.5em;
  border-radius: 0.25em;
  background: #eeeeee;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  border-radius: 0.25em;
  background: #78cd51;
}
input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track {
  background-size: 70% 100%;
}
input[type='range']:nth-of-type(1)::-moz-range-track {
  background-size: 70% 100%;
}
input[type='range']:nth-of-type(1)::-webkit-slider-thumb {
  margin-top: -0.125em;
  border: none;
  width: 12px;
  height: 24px;
  border-radius: 2px;
  /*box-shadow: nth($thumb-sh, $i);*/
  background: #ffffff;
  border: 1px solid #78cd51;
  margin-top: -8px;
}
input[type='range']:nth-of-type(1)::-moz-range-thumb {
  border: none;
  width: 12px;
  height: 24px;
  border-radius: 2px;
  /*box-shadow: nth($thumb-sh, $i);*/
  background: #ffffff;
  border: 1px solid #78cd51;
  margin-top: -8px;
}
input[type='range']:nth-of-type(1)::-ms-thumb {
  border: none;
  width: 12px;
  height: 24px;
  border-radius: 2px;
  /*box-shadow: nth($thumb-sh, $i);*/
  background: #ffffff;
  border: 1px solid #78cd51;
  margin-top: -8px;
}
input[type='range']:nth-of-type(1)::-ms-tooltip {
  display: none;
}
input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track {
  background-size: 74% 100%;
}
input[type='range']:nth-of-type(2)::-moz-range-track {
  background-size: 74% 100%;
}
input[type='range']:nth-of-type(2)::-webkit-slider-thumb {
  margin-top: 0.25em;
  border: none;
  width: 12px;
  height: 24px;
  border-radius: 2px;
  /*box-shadow: nth($thumb-sh, $i);*/
  background: #ffffff;
  border: 1px solid #78cd51;
  margin-top: -8px;
}
input[type='range']:nth-of-type(2)::-moz-range-thumb {
  border: none;
  width: 12px;
  height: 24px;
  border-radius: 2px;
  /*box-shadow: nth($thumb-sh, $i);*/
  background: #ffffff;
  border: 1px solid #78cd51;
  margin-top: -8px;
}
input[type='range']:nth-of-type(2)::-ms-thumb {
  border: none;
  width: 12px;
  height: 24px;
  border-radius: 2px;
  /*box-shadow: nth($thumb-sh, $i);*/
  background: #ffffff;
  border: 1px solid #;
  margin-top: -8px;
}
.js input[type='range']:nth-of-type(2) /deep/ #thumb {
  position: relative;
}
.js input[type='range']:nth-of-type(2) /deep/ #thumb:before, .js input[type='range']:nth-of-type(2) /deep/ #thumb:after {
  position: absolute;
  top: 100%;
  left: 50%;
  background: #eeeeee;
  font-size: .75em;
}
.js input[type='range']:nth-of-type(2) /deep/ #thumb:before {
  width: .5em;
  height: .5em;
  transform: translate(-50%, calc(1em - 50%)) rotate(45deg);
  content: '';
}
.js input[type='range']:nth-of-type(2) /deep/ #thumb:after {
  padding: .25em .375em;
  border-radius: .5em;
  transform: translate(-50%, 1em);
  content: '74%';
}
input[type='range']:focus {
  outline: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
.custom-control {
  max-width: 970px;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}
.box-control {
  width: 33.3333333%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
.box-control header {
  background-color: #eeeeee;
  padding: 15px 20px;
  color: #454545;
  font-weight: bold;
}
.box-control section  {
  padding: 20px;
  border: 1px solid #eee;
  border-top-width: 0;
  background-color: #fff;
}
.form-group-control  {
  margin-bottom: 20px;
}
.form-group-control:nth-last-child(1) {
  margin-bottom: 0;
}
.form-group-control label {
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #999999;
}
.form-group-control label span {
  font-weight: normal;
  color: #999999;
}
.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}
.form-control:focus {
  border-color: #3ea9f5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(25, 129, 203, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(25, 129, 203, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-group-control button {
  width: 100%;
  border: none;
  background-color: #3ea9f5;
  padding: 10px 15px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.form-group-control.preview-watermark {
  position: relative;
  padding-right: 84px
}
.preview-position {
  width: 74px;
  height: 34px;
  position: absolute;
  bottom:0;
  right: 0;
}
.wrapper-pp {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3c454f;
}
.pos-item {
  width: 15px;
  height: 8px;
  position: absolute;
  background-color: #777d84;
}
.pos-item.top-left {
  top:6px;
  left: 6px;
}
.pos-item.top-right {
  top:6px;
  right: 6px;
}
.pos-item.bottom-left {
  bottom:6px;
  left: 6px;
}
.pos-item.bottom-right {
  bottom:6px;
  right: 6px;
}
.pos-item.selected {
  background-color: #78cd51;
}
.col-2 {
  margin: 0 -5px;
}
.col-2 .form-group-control {
  width: 50%;
  float: left;
  padding: 0 5px;
  box-sizing: border-box;
}
#pickColor {
  opacity: 0.2;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}
.form-group-control.with-opacity {
  position: relative;
}
.val-opacity {
  position: absolute;
  top:0px;
  right: 0;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width:767px) {
  .box-control {
    width: 100%;
  }
}
