<meta property="fb:app_id" content="781886445249717" />
<meta property="fb:admins" content="1096137386" />

<meta name="keywords" content="[[[! model.title]]]" />
<meta name="description" content="[[[! model.description]]]" />
<meta name="mode" content="full"/>

<meta itemprop="name" content="[[[! model.title]]]" />
<meta itemprop="description" content="[[[! model.description]]]" />
<meta itemprop="image" content="[[[= model.thumbnail || model.entry_thumbnail || '']]]" />

<meta property="og:site_name" content="Gao Player">
<meta property="og:title" content="[[[! model.title]]]" />
<meta property="og:description" content="[[[! model.description]]]" />
<meta property="og:image" content="[[[= model.thumbnail ||  '']]]" />
<meta property="og:url" content="[[[= model.current_url || '']]]" />

<meta property="og:type" content="video" />

<meta property="og:video:url" content="[[[= 'http://dp.gao.easyvideo.vn/frame/' + model.sid + '?ap=true']]]">
<meta property="og:video:secure_url" content="[[[= 'https://dp.gao.easyvideo.vn/frame/' + model.sid + '?ap=true']]]">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="480">
<meta property="og:video:height" content="360">


<!--<meta property="og:video:url" content="[[[= 'http://dp.gao.easyvideo.vn/layouts/811/jolt.swf?rp=true&id=' + model.sid + '&version=811&sp=http%3a%2f%2fdp.gao.easyvideo.vn' || '']]]" />-->
<!--<meta property="og:video:secure_url" content="[[[= 'https://dp.gao.easyvideo.vn/layouts/811/jolt.swf?rp=true&id=' + model.sid + '&version=811&sp=http%3a%2f%2fdp.gao.easyvideo.vn' || '']]]" />-->
<!--<meta property="og:video:type" content="application/x-shockwave-flash" />-->
<!--<meta property="og:video:width" content="480">-->
<!--<meta property="og:video:height" content="360">-->



<meta name="twitter:card" content="player" />
<meta name="twitter:title" content="[[[! model.title]]]" />
<meta name="twitter:description" content="[[[! model.description]]]" />
<meta name="twitter:image" content="[[[= model.thumbnail || model.entry_thumbnail || '']]]" />
<meta name="twitter:player" content="[[[= model.current_url + '?passReferer=true' || '']]]" />
<meta name="twitter:player:width" content="747" />
<meta name="twitter:player:height" content="428" />
<meta name="version" content="[[[= model.vbxversion || '']]]"/>

