<script type="text/javascript">
    (function (p, l, o, w, i, n, g) {
        if (!p[i]) {
            p.GlobalSnowplowNamespace = p.GlobalSnowplowNamespace || [];
            p.GlobalSnowplowNamespace.push(i);
            p[i] = function () {
                (p[i].q = p[i].q || []).push(arguments)
            };
            p[i].q = p[i].q || [];
            n = l.createElement(o);
            g = l.getElementsByTagName(o)[0];
            n.async = 1;
            n.src = w;
            g.parentNode.insertBefore(n, g)
        }
    }(window, document, "script", "/scripts/sp.js", "spvb"));

        var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//p.gao.easyvideo.vn/";
        _paq.push(['setTrackerUrl', u+'gaotracker']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'gaotracker.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//p.gao.easyvideo.vn/gaotracker?idsite=1" style="border:0;" alt="" /></p></noscript>
