<html>
<head>
    <title>{{= it.name}}</title>
    <meta name="version" content="{{= it.vbixver}}">

    <!-- video.js START -->
    <!--<link href="/videojs/video-js.css" rel="stylesheet">-->
    <!--<script src="/videojs/video.js"></script>-->
    <!--<script src="/videojs/vjs.youtube.js"></script>-->
    <!--<script src="/videojs/vjs.novideo.js"></script>-->
    <!--<script>-->
        <!--videojs.options.flash.swf = "/videojs/video-js.swf";-->
    <!--</script>-->
    <!-- video.js END -->
    <!--<script src="/js/OVVAsset.js"></script>-->

    <!--script src="/layouts/html5/150/jquery-1.10.2.js"></script>
    <script src="/layouts/html5/150/jquery-ui-1.10.4.custom.min.js"></script-->

    <script src="/libraries/third_party/greensock/TweenLiteLightweight.min.js"></script>
    <script src="/libraries/third_party/objectpath.js"></script>
    <link href="/layouts/html5/{{= it.vbixver}}/vbxlayout.css" rel="stylesheet">
    <script src="/scripts/uuid.js" type="text/javascript"></script>
    <script src="/layouts/html5/{{= it.vbixver}}/vbxlayout.js"></script>
    <script src="/layouts/html5/{{= it.vbixver}}/commonbase.js" type="text/javascript"></script>
    <script type="text/javascript">
        theoplayer = {
            configuration: {
                libraryLocation: '/theoplayer/1572/',
                styleSheetURI: '/theoplayer/1572/theoplayer.1.5.6.css'
            }
        }
        function getJSON(url) {
            return new Promise(function(resolve, reject) {
                var xhr = new XMLHttpRequest();
                xhr.open('get', url, true);
                xhr.responseType = 'json';
                xhr.onload = function() {
                    var status = xhr.status;
                    if (status == 200) {
                        resolve(xhr.response);
                    } else {
                        reject(status);
                    }
                };
                xhr.send();
            });
        }
        function loadScript(url, callback) {
            var fileref;
            if (/\.js$/.test(url)) {
                fileref = document.createElement("script");
                fileref.setAttribute("type", "text/javascript");
                fileref.setAttribute("src", url);
            } else if (/\.css$/.test(url)) {
                fileref = document.createElement("link");
                fileref.setAttribute("rel", "stylesheet");
                fileref.setAttribute("type", "text/css");
                fileref.setAttribute("href", url);
            }
            if (typeof fileref != "undefined") {
                if (fileref.readyState) {  /*IE*/
                    fileref.onreadystatechange = function () {
                        if (fileref.readyState == "loaded" || fileref.readyState == "complete") {
                            fileref.onreadystatechange = null;
                            callback();
                        }
                    };
                } else {  /*Others*/
                    fileref.onload = function () {
                        callback();
                    };
                }
                document.getElementsByTagName("head")[0].appendChild(fileref);
            } else {
                callback();
            }
        }
        padding = {top: 5, right: 5, bottom: 5, left: 5};
        titleBarHeight = 39;
        bottomLogoPadding = {top: 5, right: 5, bottom: 5, left: 5};
        edgeToEdge = false;
        animateTitle = false;
        videoControlsBelow = true;
        menuPeek = true;
        menuItemHeight = 30;
        menuItemHeightTouch = 60;
        menuItemBottomMargin = 1;

        VBX.Layout.init({
            video: {id: 'video1', platform: 'external'
            },
            menu: {
                id: 'menu1',
                iconSize: 32,
                overflow: 'moreApp',
                overflowFunction: showMoreApp,
                share: 'embedApp',
                shareFunction: showEmbedApp,
                addShareIfNoVideo: false
            },
            container: {
                id: 'apps1',
                closeButton: true,
                rollPrompt: 'rollPrompt',
                rollPromptFunction: showRollPrompt,
                completeAllowSkipRollApp: false,
                appCloseCallback: onAppClose,
                appIframeCreatedCallback: onAppIframeCreated
            },
            ready: viewbixOnReady
        });

        function viewbixOnReady() {
            loadScript("/theoplayer/1572/theoplayer.loader.js", function () {
                console.log('theoplayer done');
                theoplayer.onReady = function () {
                    console.log('theoplayer ready');
                    {{= it.afterPlayerLoaded}}
                    onReady();

                    VBX.Layout.onState('has-background-image || !has-background-image', function () {
                        updateVideoSize();
                    });
                }
            })

        }
    </script>
    <link href="/layouts/html5/{{= it.vbixver}}/common.css" rel="stylesheet">
    <!--<link href="/layouts/html5/{{= it.vbixver}}/viewbix.css" rel="stylesheet">-->
    <script>
        var VBX_VERSION = "{{= it.vbixver}}";
        var VBX_LAYOUT_NAME = 'viewbix';
        var playerConfig =  {
            "videoClass":"theoplayer theo-style-1 video-js vjs-default-skin theoplayer-skin theoplayer-size-large theoplayer-dvr-now",
            "affiliateRegex": [],
            "deleted": false,
            "locked": false,
            "useYouTubeHighQuality": "false",
            "postRollApps": "[]",
            "buttonBackgroundColor0": "3552822",
            "showQualityButton": "false",
            "postRollAppId": "",
            "midRollApps": "[]",
            "title": "",
            "backToVideoText": "Back to Video",
            "ctaApps": "[]",
            "ctaButtonBackgroundColor": "16763904",
            "openvvTrackScriptUrl": "",
            "showFacebookButton": "true",
            "customLogoUrl": "",
            "ctaAppId": "",
            "facebookSharePageUrl": "",
            "preRollApps": "[]",
            "videoUrl": "{{= it.url}}",
            "bottomLogoLink": "",
            "defaultTwitterMessage": "Check out this video for {title}: {link}",
            "ctaButtonButtonTextFormatColor": "0x000000",
            "showHideUi": "",
            "showTwitterButton": "true",
            "ctaLink": "",
            "scaleLogoToTitleBar": "true",
            "standardTextFormatFont": "Arial",
            "videoThumbnailUrl": "{{= it.thumbnail}}",
            "ctaText": "",
            "tinyUrl": "",
            "bannerApps": "[]",
            "buttonBackgroundColor1": "3552822",
            "fbConversionPixel": "",
            "videoEmailUrl": "",
            "backgroundImage": "",
            "bottomLogoUrl": "",
            "showShareButton": "true",
            "titleTextFormatColor": "0xFFFFFF",
            "backgroundColor": "3552822",
            "playVideoInApps": "false",
            "cornerRadius": "0",
            "customLogoLink": "",
            "keepControlsVisible":"false",
            "showViewbixBranding": "false",
            "applications": [

            ],
        };
        getPlayerConfigurations = function() {
            return playerConfig;
        }


    </script>
</head>
<body data-vbx-style-font-family="standardTextFormatFont"
      data-vbx-class="bodyClass(customLogoUrl, title, ctaText, showViewbixBranding, showFacebookButton, showTwitterButton, showShareButton, keepControlsVisible:false, backgroundImage:)">
<div id="mask">
    <div id="background" data-vbx-style-background-color="backgroundColor"
         data-vbx-style-border-radius="VBX.px(cornerRadius:8)"></div>


    <div id="title1">
        <a id="cta-button" data-vbx="ctaText" data-vbx-style-background-color="ctaButtonBackgroundColor"
           data-vbx-style-color="ctaButtonTextColor(ctaButtonBackgroundColor)"
           onclick="VBX.Layout.clickCtaButton(); return false;"></a>
        <img class="custom-logo" data-vbx-class="customLogoClass(customLogoUrl, scaleLogoToTitleBar, customLogoLink)"
             data-vbx-src="/layouts/html5/{{= it.vbixver}}/customLogoUrl" onclick="VBX.Layout.clickCustomLogo();"/>

        <div class="title" data-vbx-class="titleClass(customLogoUrl)" data-vbx="title"
             data-vbx-style-color="titleTextFormatColor" data-vbx-href="/layouts/html5/{{= it.vbixver}}/titleLink"></div>
    </div>

    <div id="video1"></div>


    <div id="bottomLogo" class="bottom-logo"
         data-vbx-class="bottomLogoClass(bottomLogoUrl, bottomLogoLink, bannerApps:)">
        <img id="bottom-logo" data-vbx-src="/layouts/html5/{{= it.vbixver}}/bottomLogoUrl"
             data-vbx-href="/layouts/html5/{{= it.vbixver}}/bottomLogoLink" onclick="VBX.Layout.clickBanner(); return false;"/>
    </div>

    <div id="viewbixBranding" class="viewbix-branding">

        <!--<a href="http://www.viewbix.com/" target="_blank">-->
            <!--<img alt="Powered by Viewbix" class="powered-by-viewbix" src="/storage/content/img/powered-by-viewbix.png"/>-->
        <!--</a>-->

    </div>

    <div id="menu1">

    </div>

    <div id="apps1" class="overlay">
        <div id="embedApp" class="vbx-app-body vbx-scrollable">
            <div id="embed-share-section">
                Share:
                <div class="share-button share-facebook" data-vbx-class="facebookButtonClass(showFacebookButton)"
                     onclick="VBX.Layout.shareFacebook(this)"></div>
                <div class="share-button share-twitter" data-vbx-class="twitterButtonClass(showTwitterButton)"
                     onclick="VBX.Layout.shareTwitter(this)"></div>
            </div>
            <div id="embed-link-section">
                Link:
                <textarea id="link-text" readonly></textarea>
                Embed:
                <textarea id="embed-text" readonly></textarea>
            </div>
        </div>
        <div id="moreApp" class="vbx-app-body vbx-scrollable">More App</div>
        <div id="rollPrompt">
            <div id="skipLink" onclick="VBX.Layout.setRollAppCompleted()"><span class="skip-link-divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span
                    class="skip-link-text">No, thanks.</span></div>
        </div>
    </div>


    <div id="shareButtons" class="share-buttons">
        <div class="share-button share-facebook" data-vbx-class="facebookButtonClass(showFacebookButton)"
             onclick="VBX.Layout.shareFacebook(this)"></div>
        <div class="share-button share-twitter" data-vbx-class="twitterButtonClass(showTwitterButton)"
             onclick="VBX.Layout.shareTwitter(this)"></div>
        <div class="share-button share-player" data-vbx-class="shareButtonClass(showShareButton)"
             onclick="showEmbedApp(this)"></div>
        <div class="share-button fullscreen-button" onclick="VBX.Layout.toggleFullScreen()"></div>
    </div>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//p.gao.easyvideo.vn/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//p.gao.easyvideo.vn/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->



</div>
</body>
</html>
